//widescreen
@include mediaExtraLarge {
}

//Tablets and small laptops
@include mediaMedium {
  main {
    align-items: center;
    text-align: center;

    .lgheading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menunav,
  div.menubranding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  ul.menunav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menubranding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
    .portrait {
      background: url("../images/portrait_small.jpg");
      width: 150px;
      height: 150px;
    }
  }

  .aboutinfo {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";
    grid-template-columns: 1fr;
  }
}

//desktop and laptops

@include mediaLarge {
}

//for smartphones
@include mediaSmall {
  main#home h1 {
    margin-top: 10vh;
  }
}
